In [1]:
import ast
import json
import pandas as pd

In [2]:
def read_json(path):
  """
    Read JSON data from a file and parse it into a Python data structure.

    Parameters:
    - path (str): The path to the JSON file.

    Returns:
    - dict or list: A Python dictionary or list representing the parsed JSON data.

    Raises:
    - FileNotFoundError: If the specified file path is not found.
  """
  try:
    with open(path,'r') as f:
      json_data = f.read()

    json_data = json_data.replace("}{","},{")
    json_data = f"[{json_data}]"

    return json.loads(json_data)

  except FileNotFoundError:
        raise FileNotFoundError(f"File not found: {path}")

In [3]:
def extract_employees(node):
    """
    Recursively extract employee details from a hierarchical structure.

    Parameters:
    - node (dict): A dictionary representing a node in the hierarchical structure.

    Returns:
    - list: A list of dictionaries containing employee details.

    """
    employees = []

    if 'metadata' in node:
        employees.extend(node['metadata']['employee_data']['driver_details'])

    for child_node in node.get('nodes', []):
        employees.extend(extract_employees(child_node))

    return employees

In [4]:
def extract_driver_profile(data):
    """
    Extract driver profile information from a data dictionary.

    Parameters:
    - data (dict): A dictionary containing driver profile information.

    Returns:
    - str: The full name of the driver.
    """

    driver_profile = data['driver_profile']
    return driver_profile

In [5]:
def extract_driver_metrics(data):
    """
    Extract driver metrics information from a data dictionary.

    Parameters:
    - data (dict): A dictionary containing driver metrics information.

    Returns:
    - dict: A dictionary containing various driver metrics.

    """
    driver_metrics = data['driver_metrics']
    return driver_metrics

In [6]:
def process_data(json_data):
    """
    Process JSON data containing information about taxi groups, employees, and driver metrics.

    Parameters:
    - json_data (list): A list of dictionaries representing JSON data with a specific structure.

    Returns:
    - list: A list of dictionaries containing processed information about taxi groups and drivers.

    """
    final_data = []
    for data in json_data:
        all_employees = extract_employees(data['taxi_org_data']['depot_data']['root'])
        for emp in all_employees:
            taxi_group_id = data['taxi_group_id']
            driver_id = emp['driver_id']
            email = emp['email']
            disabled = emp['disabled']
            deleted = emp['deleted']
            driver_profile = extract_driver_profile(emp)
            driver_metrics = extract_driver_metrics(emp)
            
            extracted_data = {
                'taxi_group_id': taxi_group_id,
                'driver_id': driver_id,
                'email' : email,
                'disabled' : disabled,
                'deleted' : deleted,
                **driver_profile,
                **driver_metrics  # Unpack the dictionary
            }
            final_data.append(extracted_data)

    return final_data

In [7]:
"""
Function to create a dimensinal table for organization
"""
def dim_organization(json_data):
    org_data = []
    for data in json_data:
        extracted_data = {
            "taxi_group_id":data['taxi_group_id'],
            "taxi_group_name":data['taxi_group_name'],
            "primaryContactPhone":data['primaryContactPhone'],
            "primaryContactEmail":data['primaryContactEmail'],
        }
        org_data.append(extracted_data)
    return org_data

In [46]:
"""
Function to create a dimensinal table for address
"""
def dim_address(json_data):
    address_data = []
    for data in json_data:
        address_dict = {}
        for i in data["address"]:
            addresses = (i.strip('[]').replace("Address(","").replace(")","").split(","))
            for address in addresses:
                key = address.split("=")[0].strip()
                value = address.split("=")[1].replace("'","").strip()
                address_dict[key] = value
                extracted_data = {
                        "taxi_group_id":data['taxi_group_id'],
                        **address_dict
                    }
                address_data.append(extracted_data)
    return address_data

In [9]:
# Read the input json file, prepare it
json_file_path = "data.json"
json_data = read_json(json_file_path)

In [10]:
# Creating dataframe for dim organization table
org_data = dim_organization(json_data)
dim_organization = pd.DataFrame(org_data)
dim_organization.head(10)

,taxi_group_id,taxi_group_name,primaryContactPhone,primaryContactEmail
0,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,"Walsh, Hammond and Craig",+441154960171,tayloroliver@clements.net
1,3595b0c2-f4d7-4103-9545-6e75945559d2,Whitehead Inc,0141 4960670,woodjill@winter-evans.net
2,a16b19a6-d4b6-4d05-933e-5a8306ed150a,"Fletcher, Gallagher and Blake",0115 4960619,watkinstimothy@davison.com
3,17b9d4e2-fe85-4762-9e8d-95e911c0aa64,Hill and Sons,+441914960661,rroberts@norman.org
4,3b1382dc-494d-4445-bad3-5f022afcbea2,"Thompson, Taylor and Williams",0118 496 0134,jeremywilliams@yahoo.com
5,ae8c719f-afc1-4f88-8df9-1f7140d8b266,Bray-Ellis,+44(0)29 2018648,griffithsvictor@singh-norton.com
6,4ddf622e-3650-4436-8e89-04ab2303273a,Davis Inc,0141 4960991,parkinsondavid@mclean-clarke.com
7,8cb9c094-db9f-4969-b5d0-8ae221ec13fd,"Bird, Little and Cooper",+44(0)808 1570574,angela80@wilson.net
8,8a4ba482-1429-42ca-948c-e8ab90d13fdc,Lyons Ltd,+441184960112,rogerwilliams@hussain.com
9,9744346b-4bd3-4c30-82d7-2b8936867cf2,Fletcher-Blackburn,+44(0)1184960426,finchsteven@yahoo.com

In [47]:
# Creating dataframe for the dim address table
address_data = dim_address(json_data)
dim_address = pd.DataFrame(address_data)
dim_address.head(10)

,taxi_group_id,id,AddressTypeId,address_l1,address_l2,address_l3,address_l4,locality,subregion,region,code,country,created_on,updated_on
0,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,Mohamedberg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,Mohamedberg,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,Mohamedberg,,S9F 8DG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,Mohamedberg,,S9F 8DG,None,NaN,NaN,NaN,NaN,NaN,NaN
7,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,Mohamedberg,,S9F 8DG,None,None,NaN,NaN,NaN,NaN,NaN
8,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,Mohamedberg,,S9F 8DG,None,None,New Dorothy,NaN,NaN,NaN,NaN
9,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,633c079c-9b47-42b4-8e57-ec3f0662b67c,Studio 03O\nHoward prairie,Mohamedberg,,S9F 8DG,None,None,New Dorothy,S9F 8DG,NaN,NaN,NaN

In [43]:
# Creating a employee dim table
final_data = process_data(json_data)
dim_employees = pd.DataFrame(final_data)
dim_employees.head()

,taxi_group_id,driver_id,email,disabled,deleted,firstName,lastName,telephone,mobile,depot_id,...,special_achievements_awarded,driver_endurance_score,driver_profitabilty_score,driver_safety_adherence_score,driving_efficiency_score,Number_of_1_star_ratings,Number_of_2_star_ratings,Number_of_3_star_ratings,Number_of_4_star_ratings,Number_of_5_star_ratings
0,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,f6e4b169-b46a-42e2-a867-aeb5a3504606,Bruce.M@hotmail.com,False,True,Bruce,Marshall,+44(0)1134960171,+44(0)1632 960791,daffa92c-f9cb-4608-89a8-5b57a99ad4ff,...,False,0.666398,-0.252875,0.279009,1.892210,9,38,40,20,22
1,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,0dc2f8f6-cfc5-4b33-be82-9dbe1971186a,Holmes_Carol@zoho.com,False,False,Carol,Holmes,+449098790066,+44(0)8081570258,022d8c57-3361-463a-8dee-8fe58aa4bbe4,...,False,-1.177850,-1.560460,-1.211520,-0.510155,8,16,28,43,39
2,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,88ce78cc-5843-48b7-8b2e-9b003060dbdd,Bailey.Jay@xfinity.com,False,False,Jay,Bailey,+44(0)114 496 0975,+44(0)29 2018 0342,d78137de-cbcd-4149-bd11-920081562572,...,False,-0.557925,0.083300,0.596134,0.257793,5,12,25,39,26
3,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,968b5638-cea1-4f92-b926-2b19da8edbbf,Smith.Aimee83@yandex.com,False,True,Aimee,Smith,+44(0)161 496 0114,(0808) 1570902,a03f9760-a1d8-49e0-aeb1-7cbdeafbbb5e,...,False,-0.787186,-0.484124,0.966867,0.548890,8,8,16,52,34
4,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c0b889e0-faba-44dd-bf64-296b273e1e77,HHall@gmail.com,False,False,Hayley,Hall,(0151) 4960835,01632 960 807,79673cc2-c21f-4167-bee2-f7be8d3edd49,...,False,0.518161,-0.108167,-0.025077,-0.133834,22,32,53,16,13

In [52]:
"""
Fact table - Creating after mergin the dim table and only contains the metric values
"""
merged_df = pd.merge(dim_organization, dim_address, on='taxi_group_id', how='inner')

# Merge the result with df3 on another common column
fact_df = pd.merge(merged_df, dim_employees, on='taxi_group_id', how='inner')
columns_to_select = ['taxi_group_id','id','driver_id','depot_id','driver_endurance_score','driver_profitabilty_score','driver_safety_adherence_score',
       'driving_efficiency_score', 'Number_of_1_star_ratings',
       'Number_of_2_star_ratings', 'Number_of_3_star_ratings',
       'Number_of_4_star_ratings', 'Number_of_5_star_ratings']

In [53]:
fact_df[columns_to_select].head()

,taxi_group_id,id,driver_id,depot_id,driver_endurance_score,driver_profitabilty_score,driver_safety_adherence_score,driving_efficiency_score,Number_of_1_star_ratings,Number_of_2_star_ratings,Number_of_3_star_ratings,Number_of_4_star_ratings,Number_of_5_star_ratings
0,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,f6e4b169-b46a-42e2-a867-aeb5a3504606,daffa92c-f9cb-4608-89a8-5b57a99ad4ff,0.666398,-0.252875,0.279009,1.892210,9,38,40,20,22
1,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,0dc2f8f6-cfc5-4b33-be82-9dbe1971186a,022d8c57-3361-463a-8dee-8fe58aa4bbe4,-1.177850,-1.560460,-1.211520,-0.510155,8,16,28,43,39
2,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,88ce78cc-5843-48b7-8b2e-9b003060dbdd,d78137de-cbcd-4149-bd11-920081562572,-0.557925,0.083300,0.596134,0.257793,5,12,25,39,26
3,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,968b5638-cea1-4f92-b926-2b19da8edbbf,a03f9760-a1d8-49e0-aeb1-7cbdeafbbb5e,-0.787186,-0.484124,0.966867,0.548890,8,8,16,52,34
4,1e793ecd-62a0-4bd2-b1c8-3e3b4e303c15,c14bfb87-e99f-47fa-9146-9702267e3f89,c0b889e0-faba-44dd-bf64-296b273e1e77,79673cc2-c21f-4167-bee2-f7be8d3edd49,0.518161,-0.108167,-0.025077,-0.133834,22,32,53,16,13